<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <title>Đăng nhập</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="login/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="login/css/util.css">
    <link rel="stylesheet" type="text/css" href="login/css/main.css">
    <!--===============================================================================================-->
</head>
<body style="background-color: #666666;">

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" th:action="@{/process-login}" method="post">
					<span class="login100-form-title p-b-43">
						Sign in to continue
					</span>
                <p style="text-align: center;color: #267fde" th:if="${showError}">Incorrect username or
                    password</p>
                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input class="input100" type="text" name="username">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Username</span>
                </div>
                <div class="wrap-input100" style="display: none">
                    <input class="input100" type="text" name="redirectUrl" th:value="${redirectUrl}">
                </div>
                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100" type="password" name="password">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Password</span>
                </div>

                <div class="flex-sb-m w-full p-t-3 p-b-32">
                    <div style="color: blue">
                        <a th:href="@{/product}" class="txt1">
                            Comeback home
                        </a>
                    </div>

                    <div style="color: blue">
                        <a th:href="@{/register}" class="txt1">
                            Sign up an account
                        </a>
                    </div>
                </div>


                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Sign In
                    </button>
                </div>

                <div class="container-login100-form-btn">
                    <a id="login" href=""
                       style="width: 30px;height: 30px;background-color: #3b5998;color: #fff;text-align: center;"><i
                            class="fa fa-facebook-f"></i></a>
                </div>

            </form>

            <img class="login100-more" src="/login/images/bg-01.jpg">
        </div>
    </div>
</div>


<!--===============================================================================================-->
<script src="login/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="login/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="login/vendor/bootstrap/js/popper.js"></script>
<script src="login/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="login/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="login/vendor/daterangepicker/moment.min.js"></script>
<script src="login/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="login/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="login/js/main.js"></script>

<script>

    var url = window.location.toString();

    var code = getParameterByName("code", url);
    var state = getParameterByName("state", url);

    getLoginButtonUri();

    function getLoginButtonUri() {
        $.ajax({
            url: "/facebook/getLoginUri",
            success: function (res, status) {
                $("#login").attr("href", res);
            }
        })
    }

    isAuthenticated();

    function isAuthenticated() {
        $.ajax({
            url: "/facebook/auth",
            success: function (res, status) {
                console.log("Authenticated: ", res)
                if (res === true) {
                    // $("#login").hide();
                    // $("#logout").show();
                    showUserInfo()
                } else {
                    $("#login").show();
                    // $("#logout").hide();
                }
            },
            error: function (res, status) {
                console.error(res, status)
            }
        });
    }

    function showUserInfo() {
        $.ajax({
            url: "/facebook/userinfo",
            success: function (res, status) {
                console.log(res);
                $("#userinfo").html(JSON.stringify(res, null, 2));
            }
        })
    }

    // $("#logout").click(function () {
    //     $.ajax({
    //         url: "/facebook/logout",
    //         success: function (res, status) {
    //             console.log(res)
    //             window.location.replace("./")
    //         }
    //     })
    // });

    if (code && state) {
        $.ajax({
            url: "/facebook/login?code=" + code + "&state=" + state,
            success: function (res, status) {
                console.log(status);
                window.location.replace("./")
            }
        });
    }

    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

</script>

</body>
</html>